<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--<add key="serverHost" value="http://10.12.44.22:7080"/>-->
		<add key="serverHost" value="http://10.12.44.22:7080"/>

		<add key="serverHostSourceUrl" value="http://10.12.44.22:7080/static"/>

		<!--<add key="pushHost" value="10.12.44.22"/>-->
		<add key="pushHost" value="10.12.44.22"/>
		<add key="pushPort" value="7090"/>
		
		<!--音柱管理平台API地址-->
		<add key="speakerurl" value="http://10.12.44.1:80"/>

		<!--轮对棚世邦音柱ID-->
		<add key="lunduipengid" value="2"/>

		<!--出入段世邦音柱ID-->
		<add key="churuduanid" value="1"/>
	</appSettings>
</configuration>